HUGGINGFACEHUB_ACCESS_TOKEN="your_hugging_face_access_token"
HF_TOKEN="your_hugging_face_access_token"

LANGCHAIN_TRACING_V2=true
LANGSMITH_TRACING=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="langsmith_api_key"
LANGCHAIN_PROJECT="amazonhelp"

CHAT_MODEL="Qwen/Qwen3.8-27B"
JUDGE_MODEL="deepseek-ai/DeepSeek-V4.1-Flash"   # To evaluate retriever results 
EMBEDDING_MODEL="BAAI/bge-small-en-v1.5"

USE_LOCAL_QDRANT=false
QDRANT_PATH="./qdrant_db"
QDRANT_HOST="localhost"
QDRANT_PORT=6333
QDRANT_COLLECTION="amazon_support"

SQLITE_PATH="./checkpoints/chat_checkpoints.db"
MAX_MESSAGES=10
MAX_TOKENS=3000

ENVIRONMENT="production"
LOG_LEVEL="INFO"