# Providing you access token to HuggingFace with 0.1$ credits (6-7 prompts worth)
HUGGINGFACEHUB_ACCESS_TOKEN="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"
HF_TOKEN="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"
# providing you another access token from my side in case you need to test more with more prompts
# Use this (copy paste it to above 2 variables only when need more credit) => "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" only when the credits over by using the above access token (6-7 prompts, after it start escalating because of limited access credit for hugging face)

#---------------------------------------------------
LANGCHAIN_TRACING_V2=true   # These 5 variable are optional (only if you need to track the traces with langsmith)
LANGSMITH_TRACING=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="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"
LANGCHAIN_PROJECT="amazonhelp"
#---------------------------------------------------

CHAT_MODEL="Qwen/Qwen3.8-27B"   
JUDGE_MODEL="deepseek-ai/DeepSeek-V4.1-Flash"   # To evaluate retriever results (LLM as Judge)
EMBEDDING_MODEL="BAAI/bge-small-en-v1.5"

# Keep them as it is, but before anything follow readme.md so that you can start qdrant locally using Docker
USE_LOCAL_QDRANT=false  
QDRANT_PATH="./qdrant_db"
QDRANT_HOST="localhost"
QDRANT_PORT=6333
QDRANT_COLLECTION="amazon_support"

SQLITE_PATH="./checkpoints/chat_checkpoints.db"
MAX_MESSAGES=10
MAX_TOKENS=3000

ENVIRONMENT="production"
LOG_LEVEL="INFO"
